#!/bin/bash

cd {{base_path}};

app_UUID=`docker ps | grep {{project_name}} | awk '{print $1}'`;

if [ $app_UUID ]; then
  docker stop $app_UUID ;
  echo "stop success";
fi

echo y | docker system prune
docker build -t '{{project_name}}' .
echo "build success"
docker run -d --network host --name {{project_name}} {{project_name}}
# docker run -d -p 5000:5000 --name {{project_name}} {{project_name}}
echo "run success"