[uwsgi]

# Connection method
http-socket         = :5000

# Basic configuration
chdir               = /srv/{{ project_dir }}
module              = run
callable            = app
processes           = 4
threads             = 8

# Using APScheduler: preload=True, lazy-apps=true, enable-threads=true
preload             = true
lazy-apps           = true
master              = true
buffer-size         = 65536
wsgi-file           = /srv/{{ project_dir }}/run.py
chmod-socket        = 660
# plugins           = python3
enable-threads      = true
vacuum              = true

# Handling (timeout/request/process termination/virtual memory)
reload-mercy        = 8
harakiri            = 60
limit-as            = 1024
max-requests        = 20000
listen              = 4096

